.sidebar {
  position: fixed;
  margin-top: 50px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  height: 230px;
  top: 74px;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  z-index: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Style for content */
.content {
  margin-left: 220px;
  padding: 0px 20px;
  z-index: 1;
}

.sidebar a.active {
  color: #1f3a72;
  position: relative;
}

.sidebar a.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 3px;
  height: 100%;
  background-color: #1f3a72; /* Blue color */
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.sidebar a.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
}
